
<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
	<meta charset="UTF-8">
	<title>user New</title>
</head>
<body layout:fragment="body">

	<form th:action="@{/user-role/new}" method="post">
		   <div>
		       <input type="text" name="userId" placeholder="Enter user ID...">
		   </div>
		   <div>
		       <input type="radio" name="role" value="ROLE_ADMIN" >
		          ROLE_ADMIN
		   </div>
		   <div>
		       <input type="radio" name="role" value="ROLE_STUDENT" >
		          ROLE_STUDENT
		   </div>
		   <div>
		   		<button type="submit">Create</button>
		   </div>
	</form>
	
</body>
</html>